*{
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
}

.sidebar{
    width: calc(20% - 20px);
    min-width: fit-content;
    height: calc(100% - 20px);
    margin: 10px;
    background-color: #202020;
    color: aliceblue;
    border-radius: 10px;
}

.header{
    color: transparent;
    font-size: 100%;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 5px;
    border-bottom: 8px solid black;
    background-image: linear-gradient(-90deg,red,blue);
    filter: saturate(200%);
    background-clip: text;
    padding-bottom: 20px;
    /* min-width: 70%; */
    /* max-width: 900px; */
}

#expand{
    display: none;
}

.roomname{
    /* background-color: aliceblue; */
    padding: 20px;
    color: aqua;
    text-shadow: 0 0 10px aqua;
    text-align: center;
    font-size: xx-large;
}

.roomcode{
    padding: 20px;
    color: aqua;
    text-shadow: 0 0 10px aqua;
    text-align: center;
    font-size: x-large;
}

.leavebtn{
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
}
.leavebtn::before{
    content: none;
    display: none;
}

.userheader{
    margin: 10px;
    border-bottom: 1px solid grey;
}

.users{
    /* background-color: red; */
    list-style-type:none;
    font-size: large;
    padding: 10px;
    max-height: 50%;
    overflow-y: scroll;
    margin-right: 10px;
}

.users::-webkit-scrollbar{
    border-radius: 20px;
    background-color: transparent;
    width: 1px;
}

.users::-webkit-scrollbar-thumb{
    display: block;
    border: 1px solid grey;
    background-color: #202020;
}

.users > li{
    padding-top: 10px;
    color: grey;
}

.users > li:not(:first-child){
    margin-top: 10px;
    border-top: 2px solid black;
}

.chatpanel{
    width: calc(80% - 20px);
    margin: 10px;
    margin-left: 0;
    height: calc(100vh - 20px);
    background-color: black;
    border-radius: 10px;
    position: relative;
    overflow-x: none;
    overflow-y: hidden;
    color: aliceblue;
    padding: 10px;
}

.chats{
    height: 100%;
    overflow-x: none;
    overflow-y: scroll;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.chats::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

.chats::-webkit-scrollbar-thumb{
    background-color: grey;
}

.sender{
    position: sticky;
    /* box-sizing: border-box; */
    bottom: 0px;
    left: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    /* padding-bottom: 10px; */
    margin-left: 0;
    height: fit-content;
    /* padding-top: 10px; */
    border-radius: 10px;
    border-top: 1px solid grey;
    background-color: #202020;
    #send{
        background-color: transparent;
        border: none;
        /* border: 1px solid grey; */
        border-radius: 2px;
        box-shadow: none;
        color: aliceblue;
        margin: 0;
        margin-left: 10px;
        width: fit-content;
        &:hover{
            background-color: black;
        }
        &::before{
            border: none;
            height: 0;
            width: 0;
        }
    }
    .divider{
        background-color: grey;
        height: 100%;
        width: 1px;
        background-color: aliceblue;
        margin-inline: 10px;
    }
    #message{
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        margin-bottom: 10px;
        color: aliceblue;
        letter-spacing: 2px;
        padding: 4px;
    }
}

.self ,.other{
    background-color: #202020;
    margin: 10px;
    padding: 10px;
    padding-bottom: 0;
    width: fit-content;
    border-radius: 5px;
    letter-spacing: 1px;
}

.self{
    align-self: flex-end;
    border-right: 10px solid black;
    background-color: rgb(5,10,230);
    border-bottom: 10px solid rgb(5,10,230);
    color: aliceblue;
}

.other{
    border-bottom: 10px solid #202020;
    border-left: 10px solid black;
}

    
@media only screen and (max-width:700px) {
    .sidebar{
        content:"";
        border-bottom: 10px solid black;
        border-radius: 0;
        width: calc(100% - 20px);
        height: fit-content;
        font-size: 0;
        position: absolute;
        z-index: 1;
        transition: all .3s;
    }
    
    .sidebar > *{
        display: none;
    }
    
    #expand{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        text-wrap: wrap;
        /* justify-content: space-between; */
        font-size: initial;
        /* background-color: aliceblue; */
        height: fit-content;
        ::before{
            display: none;
        }
    }

    #expand *{
        display: block;
    }

    #open{
        width: 20%;
        max-width: 80px;
        height: 100%;
        background-color: transparent;
        border: 0;
        margin: 0;
        box-shadow: none;
        .burger{
            width: 100%;
            height: 33%;
            hr{
                width: 100%;
            }
        }
    }
    .header {
        background-color: #202020;
        display: block;
        border: 0;
        /* height: 100%; */
        font-size: 30px;
        width: 80%;
        b{
            padding-top: 15px;
            height: 100%;
        }
    }

    .outerheader{
        display: none;
    }

    .sidebar:focus,
    .sidebar:hover{
        /* background-color: white; */
        width: 40%;
        height: calc(100% - 20px);
        margin-top: 10px;
        box-shadow: 4px 4px 20px black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        #expand{
            display: none;
            *{
                display: none;
            }
        }
        #open{
            display: none;
        }
        *{
            display: block;
        }
        .userheader{
            font-size: 30px;
            width: 90%;
        }
        .outerheader{
            width: min-content;
        }
    }

    .chatpanel{
        width: calc(100% - 20px);
        margin-inline: 10px;
    }
}